/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30/03/2016, 09:19:35 PM
    Author     : miguel
*/

/* Reglas para la sección vps */

.total_amount div{
    margin: 0px auto;
    width: 350px;
}

ul .precio-total-submenu{
    width: 350px;
}

/* Reglas para la sección login */

.margin-botton{
    margin-bottom: 10px;
}